.site-header {
  text-align: center;

  h1 {
    font-size: 2em;
    font-weight: 500;
    margin: 1em .5em .25em;
  }

  h2 {
    font-size: 1em;
    font-weight: 300;
  }

  nav {
    color: $gray5;

    ul {
      list-style-type: none;
    }

    li {
      display: inline;
      margin: 0;
    }

    li + li {
      &::before {
        content: '•';
        padding: 0 .8em 0 .5em;
      }
    }
  }
}
