$sans-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$mono-font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;

$black: #000;
$gray-dark: #333;
$gray-light: #d0d0d0;
$gray-med-dark: #555;
$gray-medium: #888;
$white: #fff;

$background-color: #f0f0f0;
$text-color: #313131;
$primary-color: #2277ff;
