$sans-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$background-color: #f0f0f0;
$text-color: #313131;
$primary-color: #2277ff;
